*{
    box-sizing: border-box;
    margin : 0px;
    padding:0px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

.spacer{
    font-size: 32px;
    display:grid;
    height:120vh;
    place-content: center;
}

.sticky-scroll-container{
    background-color: #1A1110;
    color:#ffffff;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
}

.track-container{
    position:relative;
    border-right:2px solid #3d3d3d;

}

.track-progress{
    position:absolute;
    top:0px;
    right:-2px;
    width:2px;
    height:0%;
    background: linear-gradient(180deg, #3b82f6, #8b5cf6); /* Blue to Purple */
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.5);
    transition:height 10ms ease-in-out;
    z-index:10;

}


.track-trigger{
    padding-inline-end:96px;
    height:100vh;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    position:relative;
}

.track-trigger::after{
    background-color:#535353;
    display:block;
    content:'';
    position:absolute;
    top:50%;
    right:-8px;
    width:16px;
    height:16px;
    border-radius:50%;
    transform:translateY(-50%);
    transition:all 300ms ease;
    z-index:20;
}

.track-trigger.active::after{
    background: #efefef;
    box-shadow: 0 0 0 4px rgba(250, 250, 250, 0.2);
    transform: scale(1.5);
}

.track-content{
    font-size:32px;
}


.sticky-viewport-wrapper{
    padding:40px;
    height:100vh;
    position:sticky;
    top:0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}

.card-container{
    position:relative;
    width:100%;
    max-width:400px;
    height:500px;
    
}

.card{
    color:#1A1110;
    width:100%;
    height:100%;
    border-radius: 24px;
    position: absolute;
    top:0px;
    padding:48px;
    background-color:#E8F7EE;
    font-size:24px;
    display: grid;
    place-content: center;
    opacity:0;
    transform:translateY(20px) scale(0.95);
    transition:all 600ms ease-in;
}

.card.show{
    opacity:1;
    transform: translateY(0px) scale(1);
}

.card.fade{
    opacity:0;
    transform: translateY(-20px) scale(1.05);
}

@media screen and (max-width:640px){
    .sticky-scroll-container{
        display:flex;
        flex-direction: column;
    }

    .track-container{
        border-top:2px solid #3d3d3d;
        border-right:none;
        display: flex;
        justify-content: space-evenly;
    }

    .track-progress{
        position:absolute;
        top:-2px;
        left:0px;
        height:2px;
        width:10%;
        transition:width 10ms ease-in-out;

    }

    .track-trigger{
        padding-inline-end:0px;
        padding-block:24px;
        height:auto;
        display:block;
        position:relative;
    }

    .track-content{
        font-size:16px;
    }

    .track-trigger::after{
        content:none;
    }

    .track-trigger::before{
        background-color:#535353;
        display:block;
        content:'';
        position:absolute;
        left:50%;
        top:-8px;
        width:16px;
        height:16px;
        border-radius:50%;
        transform:translateX(-50%);
        transition:all 300ms ease;
        z-index:20;
    }


    .sticky-viewport-wrapper{
        flex:1;
        padding-block: 0px;
        padding-inline:24px;
        position:static;
        height:auto;
        display:block;
    }

    .card-container {
        position:static;
        max-width:none;
        height:auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:stretch;
        gap:32px;
    }

    .card{
        background-color:rgb(10, 118, 54);
        border-radius: 24px;
        position: static;
        padding:64px;
        font-size:24px;
        opacity:1;
        min-height:40vh;
    }

}